<h1>my diary</h1>

<hr>
<h2>日記一覧</h2>
<hr>
<%= link_to '新規作成', root_path %>

<table>
  <thead>
    <th>年月日</th>
    <th>題名</th>
    <th>著者</th>
  </thead>

  <tbody>
    <td></td>
    <td></td>
    <td></td>
  </tbody>
</table>
